*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-image: url("../../images/university.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-section {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
}

.top-section h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.slogan {
    font-size: 18px;
    opacity: 0.9;
}

.form-container {
    width: 500px;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: 1e3a8a;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

.input-group input:focus {
    outline: none;
    border-color: #2563eb;
}

.forget-password {
    text-align: right;
    margin-bottom: 20px;
}

.forget-password a {
    text-decoration: none;
    color: #2563eb;
    font-size: 14px;
}

.forget-password a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1e40af;
}

@media(max-width: 768px) {

    .top-section h1{
        font-size: 28px;
    }

    .form-container{
        width: 90%;
    }
}