.change-password-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.change-password-box{
    width: 450px;
    background: #1a1a1a;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.change-password-box h1{
    color: white;
    margin-bottom: 35px;
    text-align: center;
}

.input-group{
    margin-bottom: 25px;
}

.input-group label{
    display: block;
    color: #aaa;
    margin-bottom: 10px;
}

.input-group input{
    width: 100%;
    padding: 14px;
    border: 1px solid #333;
    border-radius: 10px;
    background: #222;
    color: white;
    font-size: 15px;
}

.input-group input:focus{
    outline:none;
    border-color: #2563eb;
}